body{
  background: #b00e0ef7;
}

svg{
  margin-left:130px;
  
  
}

.tooltip {
            position: absolute;
            font-size: 12px;
            width:  auto;
            height: auto;
            pointer-events: none;
  color:#e8d910e8;
            background-color: black;
  padding-left:5px
}


.card{
  margin:0 auto;
  width:1200px;
  
   background:#a6bdb5;
   -moz-box-shadow:    inset 0px 0px 17px 10px #000000;;
   -webkit-box-shadow: inset 0px 0px 17px 10px #000000;;
   box-shadow:         inset 0px 0px 17px 10px #000000;;
  
  
}


.labels{
  font-weight:bolder
}

.card-block{
  padding-bottom:10px
}

.dot:hover{
  stroke:black
}

h1{
  padding-top:15px;
  text-shadow: 1px 9px 20px black;
}

